body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-weight: 700;
    opacity: 1;
    font-style: bold;
    text-decoration: underline;
    cursor: pointer;
}

.wrapper {
    background-color: #eaeaea;
    padding-left: 150px;
}

.block {
    background-color: white;
    width: 1120px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.1);
}