#wrapper-error404 {
    display: flex;
    justify-content: space-between;

    margin-top: 135px;

    width: 1120px;


}

/*------------- ERROR 404 -------------*/
#error404 {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 520px;
    width: 520px;

    background: url("../images/error404.png");
}
#head-404 {
    width: 440px;
}
#head-404 h1 {
    font-family: "Josefin ThinItalic";
    font-size: 20px;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}
#head-404 hr {
    width: 440px;
}
#content-404-wrapper {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 470px;
}
#content-404 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    height: 255px;
    width: 130px;
    
    padding-top: 80px;

    text-align: center;
}
#content-404-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 120px;
}
#content-404-text img {
    width: 25px;
    height: 30px;
}
#content-404 h2 {
    font-family: "Josefin Bold";
    font-size: 34px;

    margin: 0;
    /* margin-top: 20px; */
}
#content-404 p {
    font-family: "Playfair Black";
    font-size: 16px;
    color: #a9a9a9;

    margin: 0;
}